DATABASE_URL="YOUR_NEON_DATABASE_URL"

NEXT_PUBLIC_IMAGEKIT_PUBLIC_KEY=YOUR_PUBLIC_IMAGEKIT_KEY
NEXT_PRIVATE_IMAGEKIT_PRIVATE_KEY=YOUR_PRIVATE_IMAGEKIT_KEY

SENTRY_AUTH_TOKEN=YOUR_SENTRY_AUTH_TOKEN

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=YOUR_CLERK_PUBLIC_PUBLISHABLE_KEY
CLERK_SECRET_KEY=YOUR_CLERK_SECRET_KEY